html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent page scrolling */
}
.swipeable_container {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
}

.swipeable_content {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s cubic-bezier(0.4, 0.8, 0.6, 1);
    will-change: transform;
}

.swipeable_item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color: #fff;
    font-size: 2rem;
    background-color: #333;
    flex-shrink: 0;
}

/* Fullscreen Container for the Loading Indicator */
.loading_indicator {
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

/* Spinner Style */
.spinner {
    width: 24px;
    height: 24px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top-color: #00543c;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Animation for Spinner */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
