.card {
    width: 380px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 30rem;
    margin-bottom: 10px;
}

.card_header {
    padding: 1rem;
    background-color: #007bff;
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    min-height: 11rem;
}

.card_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem;
    flex-grow: 1;
    font-size: 1rem;
    color: white;
    background-color: #00543c;
}
.card_body h1 {
    margin-bottom: 0.25rem;
    font-size: 1.75rem;
}

.card_body p {
    font-size: 0.85rem;
    color: #ffb74d;
    font-style: italic; /* Highlight color for cuisine */
    word-wrap: break-word;
}

.card_footer {
    display: flex;
    padding: 0.5rem;
    background-color: #f8f9fa;
    text-align: center;
    font-size: 0.875rem;
    color: white;
    background-color: #00543c;
}
.navigableButtons {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
    background-color: white;
    min-height: 100%;
    border-radius: 8px;
}
.navigableButtons h1 {
    font-size: 1rem;
    color: #333333;
}
.navButtonsFlexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    height: 100%;
}
.navButtonComponent {
    padding: 0.25rem;
    align-content: center;
    flex: 1;
    min-height: 100%;
}

.rateButton {
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    color: black;
    background-color: #ffb74d;
    padding: 10px 20px;
}

@media (min-width: 768px) {
    .card {
        min-height: 600px;
    }
}
